In [1]:
import pandas as pd
import numpy as np
import json
import requests
from sklearn.cluster import KMeans
! pip install folium
import folium
from geopy.geocoders import Nominatim
import matplotlib.cm as cm
import matplotlib.colors as colors

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.11.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.1)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)

In [2]:
# Importing the table from the following wikipedia page into pandas and looking at the data scraped

In [3]:
Can_tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
Can_tables

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 5           M6A        North York
 6           M7A  Downtown Toronto
 7           M8A      Not assigned
 8           M9A         Etobicoke
 9           M1B       Scarborough
 10          M2B      Not assigned
 11          M3B        North York
 12          M4B         East York
 13          M5B  Downtown Toronto
 14          M6B        North York
 15          M7B      Not assigned
 16          M8B      Not assigned
 17          M9B         Etobicoke
 18          M1C       Scarborough
 19          M2C      Not assigned
 20          M3C        North York
 21          M4C         East York
 22          M5C  Downtown Toronto
 23          M6C              York
 24          M7C      Not assigned
 25          M8C      Not assigned
 26          M9C         Etobicoke
 27          M1E       Scarborough
 28          M2E      Not assigned
 29          M3E      Not assigned
 ..          ...               ...
 150         M7W      Not assigned
 151         M8W         Etobicoke
 152         M9W         Etobicoke
 153         M1X       Scarborough
 154         M2X      Not assigned
 155         M3X      Not assigned
 156         M4X  Downtown Toronto
 157         M5X  Downtown Toronto
 158         M6X      Not assigned
 159         M7X      Not assigned
 160         M8X         Etobicoke
 161         M9X      Not assigned
 162         M1Y      Not assigned
 163         M2Y      Not assigned
 164         M3Y      Not assigned
 165         M4Y  Downtown Toronto
 166         M5Y      Not assigned
 167         M6Y      Not assigned
 168         M7Y      East Toronto
 169         M8Y         Etobicoke
 170         M9Y      Not assigned
 171         M1Z      Not assigned
 172         M2Z      Not assigned
 173         M3Z      Not assigned
 174         M4Z      Not assigned
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                           Neighborhood
 0                                                  NaN
 1                                                  NaN
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 5                     Lawrence Manor, Lawrence Heights
 6          Queen's Park, Ontario Provincial Government
 7                                                  NaN
 8              Islington Avenue, Humber Valley Village
 9                                       Malvern, Rouge
 10                                                 NaN
 11                                           Don Mills
 12                     Parkview Hill, Woodbine Gardens
 13                            Garden District, Ryerson
 14                                           Glencairn
 15                                                 NaN
 16                                                 NaN
 17   West Deane Park, Princess Gardens, Martin Grov...
 18              Rouge Hill, Port Union, Highland Creek
 19                                                 NaN
 20                                           Don Mills
 21                                    Woodbine Heights
 22                                      St. James Town
 23                                  Humewood-Cedarvale
 24                                                 NaN
 25                                                 NaN
 26   Eringate, Bloordale Gardens, Old Burnhamthorpe...
 27                   Guildwood, Morningside, West Hill
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 150                                                NaN
 151                             Alderwood, Long Branch
 152                Northwest, West Humber - Clairville
 153                                        Upper Rouge
 154                                                NaN
 155                                                NaN
 156                        St. James Town, Cabbagetown
 157             First Canadian Place, Underground city
 158                                                NaN
 159                                                NaN
 160      The Kingsway, Montgomery Road, Old Mill North
 161                                                NaN
 162                                                NaN
 163                                                NaN
 164                                                NaN
 165                               Church and Wellesley
 166                                                NaN
 167                                                NaN
 168  Business reply mail Processing Centre, South C...
 169  Old Mill South, King's Mill Park, Sunnylea, Hu...
 170                                                NaN
 171                                                NaN
 172                                                NaN
 173                                                NaN
 174                                                NaN
 175                                                NaN
 176                                                NaN
 177                                                NaN
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                                NaN

 [180 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [4]:
##Using a length function to figure the number of tables included in Can_tables

In [5]:
len(Can_tables)

3

In [6]:
#Assigning the required table a name and verifying the contents of the table

In [7]:
Canada=Can_tables[0]
Canada.head(20)

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
7,M8A,Not assigned,NaN
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
9,M1B,Scarborough,"Malvern, Rouge"
10,M2B,Not assigned,NaN
11,M3B,North York,Don Mills
12,M4B,East York,"Parkview Hill, Woodbine Gardens"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
15,M7B,Not assigned,NaN
16,M8B,Not assigned,NaN
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
19,M2C,Not assigned,NaN

In [8]:
## Checking how many postal rows which aren't assigned any boroughs have nan neighborhoods

In [9]:
groups=Canada[Canada['Borough']=='Not assigned']
print(groups.shape[0])
print(groups.isnull().sum())

77
Postal Code      0
Borough          0
Neighborhood    77
dtype: int64

In [10]:
## Since all rows which have no assigned boroughs have nan neighborhoods all of them can be removed

In [11]:
Canada.dropna(axis=0,inplace=True)
pd.isnull(Canada).sum()

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

In [12]:
Canada.sort_values(['Postal Code'], ascending=True, inplace=True)

In [13]:
Canada.head(20)

,Postal Code,Borough,Neighborhood
9,M1B,Scarborough,"Malvern, Rouge"
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
36,M1G,Scarborough,Woburn
45,M1H,Scarborough,Cedarbrae
54,M1J,Scarborough,Scarborough Village
63,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
72,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge"
81,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West"
90,M1N,Scarborough,"Birch Cliff, Cliffside West"
99,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town..."
108,M1R,Scarborough,"Wexford, Maryvale"
117,M1S,Scarborough,Agincourt
126,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan"
135,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo..."
144,M1W,Scarborough,"Steeles West, L'Amoreaux West"
153,M1X,Scarborough,Upper Rouge
46,M2H,North York,Hillcrest Village
55,M2J,North York,"Fairview, Henry Farm, Oriole"
64,M2K,North York,Bayview Village

In [14]:
print("There are {} rows in the table".format(Canada.shape[0]))

There are 103 rows in the table

In [15]:
# Importing geospatial data to pandas
Latlng=pd.read_csv('http://cocl.us/Geospatial_data')
Latlng.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
Latlng.sort_values(['Postal Code'],ascending=True, inplace=True)

In [17]:
Latlng.head(20)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577
15         M1W  43.799525 -79.318389
16         M1X  43.836125 -79.205636
17         M2H  43.803762 -79.363452
18         M2J  43.778517 -79.346556
19         M2K  43.786947 -79.385975

In [18]:
## Merging the two tables together based on the similar column 'Postal Code'

In [19]:
Canada = pd.merge(Canada,Latlng[['Postal Code','Latitude', 'Longitude']],on='Postal Code')
Canada.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [20]:
## Considering boroughs of Toronto for the analysis

In [21]:
Toronto=Canada[Canada.Borough.str.contains('Toronto',case=False)]
Toronto.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"India Bazaar, The Beaches West",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [22]:
CLIENT_ID = 'M4J1ULQCTBAARW1CHRL4LOSOU5OFG02MJRPQRNLTGRM02UP2' # your Foursquare ID
CLIENT_SECRET = 'B221FKTWRZIUAO5VLBO5HURLKAU42K0YIDXBQRJT4PXTBZ3W' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=50):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [23]:
Toronto_venues = getNearbyVenues(names=Toronto['Neighborhood'],
                                   latitudes=Toronto['Latitude'],
                                   longitudes=Toronto['Longitude']
                                  )

The Beaches
The Danforth West, Riverdale
India Bazaar, The Beaches West
Studio District
Lawrence Park
Davisville North
North Toronto West, Lawrence Park
Davisville
Moore Park, Summerhill East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North & West, Forest Hill Road Park
The Annex, North Midtown, Yorkville
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Christie
Dufferin, Dovercourt Village
Little Portugal, Trinity
Brockton, Parkdale Village, Exhibition Place
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park, Ontario Provincial Government
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

In [24]:
Toronto_venues.head(10)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
2,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
3,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood
4,"The Danforth West, Riverdale",43.679557,-79.352188,MenEssentials,43.677820,-79.351265,Cosmetics Shop
5,"The Danforth West, Riverdale",43.679557,-79.352188,Pantheon,43.677621,-79.351434,Greek Restaurant
6,"The Danforth West, Riverdale",43.679557,-79.352188,Cafe Fiorentina,43.677743,-79.350115,Italian Restaurant
7,"The Danforth West, Riverdale",43.679557,-79.352188,Dolce Gelato,43.677773,-79.351187,Ice Cream Shop
8,"The Danforth West, Riverdale",43.679557,-79.352188,La Diperie,43.677530,-79.352295,Ice Cream Shop
9,"The Danforth West, Riverdale",43.679557,-79.352188,Moksha Yoga Danforth,43.677622,-79.352116,Yoga Studio

In [25]:
# one hot encoding
Toronto_onehot = pd.get_dummies(Toronto_venues['Venue Category'],prefix="")

# add neighborhood column back to dataframe
Toronto_onehot['Neighborhood'] = Toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [Toronto_onehot.columns[-1]] + list(Toronto_onehot.columns[:-1])
Toronto_onehot = Toronto_onehot[fixed_columns]

Toronto_onehot.head()

,Neighborhood,_Airport,_Airport Food Court,_Airport Gate,_Airport Lounge,_Airport Service,_Airport Terminal,_American Restaurant,_Antique Shop,_Aquarium,...,_Trail,_Train Station,_Transportation Service,_Vegetarian / Vegan Restaurant,_Video Game Store,_Vietnamese Restaurant,_Wine Bar,_Wine Shop,_Wings Joint,_Yoga Studio
0,The Beaches,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"The Danforth West, Riverdale",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
Toronto_grouped = Toronto_onehot.groupby('Neighborhood').mean().reset_index()
Toronto_grouped.head(20)

,Neighborhood,_Airport,_Airport Food Court,_Airport Gate,_Airport Lounge,_Airport Service,_Airport Terminal,_American Restaurant,_Antique Shop,_Aquarium,...,_Trail,_Train Station,_Transportation Service,_Vegetarian / Vegan Restaurant,_Video Game Store,_Vietnamese Restaurant,_Wine Bar,_Wine Shop,_Wings Joint,_Yoga Studio
0,Berczy Park,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.020000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
1,"Brockton, Parkdale Village, Exhibition Place",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
2,"Business reply mail Processing Centre, South C...",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
3,"CN Tower, King and Spadina, Railway Lands, Har...",0.066667,0.066667,0.066667,0.133333,0.2,0.066667,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
4,Central Bay Street,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.020000,0.0,0.000000,0.000000,0.000000,0.00,0.020000
5,Christie,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
6,Church and Wellesley,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.02,0.040000
7,"Commerce Court, Victoria Hotel",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.040000,0.0,0.00,...,0.00,0.00,0.000000,0.020000,0.0,0.000000,0.020000,0.000000,0.00,0.000000
8,Davisville,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.027778,0.0,0.00,...,0.00,0.00,0.027778,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
9,Davisville North,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
10,"Dufferin, Dovercourt Village",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.066667,0.00,0.000000
11,"First Canadian Place, Underground city",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.020000,0.0,0.00,...,0.00,0.00,0.000000,0.020000,0.0,0.000000,0.020000,0.000000,0.00,0.000000
12,"Forest Hill North & West, Forest Hill Road Park",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.25,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
13,"Garden District, Ryerson",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
14,"Harbourfront East, Union Station, Toronto Islands",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.06,...,0.00,0.02,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
15,"High Park, The Junction South",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
16,"India Bazaar, The Beaches West",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
17,"Kensington Market, Chinatown, Grange Park",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.040000,0.0,0.040000,0.020000,0.000000,0.00,0.000000
18,Lawrence Park,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.000000
19,"Little Portugal, Trinity",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00,...,0.00,0.00,0.000000,0.044444,0.0,0.022222,0.022222,0.000000,0.00,0.022222

In [27]:
num_top_venues = 5

for hood in Toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = Toronto_grouped[Toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Berczy Park----
                 venue  freq
0         _Coffee Shop  0.08
1        _Cocktail Bar  0.06
2                _Café  0.04
3         _Cheese Shop  0.04
4  _Seafood Restaurant  0.04


----Brockton, Parkdale Village, Exhibition Place----
             venue  freq
0            _Café  0.13
1  _Breakfast Spot  0.09
2       _Nightclub  0.09
3     _Coffee Shop  0.09
4          _Bakery  0.04


----Business reply mail Processing Centre, South Central Letter Processing Plant Toronto----
                   venue  freq
0    _Light Rail Station  0.12
1           _Pizza Place  0.06
2         _Garden Center  0.06
3  _Fast Food Restaurant  0.06
4        _Farmers Market  0.06


----CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport----
                 venue  freq
0     _Airport Service  0.20
1      _Airport Lounge  0.13
2             _Airport  0.07
3                 _Bar  0.07
4  _Airport Food Court  0.07


----Central Bay Street----
                 venue  freq
0         _Coffee Shop  0.16
1  _Italian Restaurant  0.06
2      _Sandwich Place  0.06
3     _Bubble Tea Shop  0.04
4        _Burger Joint  0.04


----Christie----
            venue  freq
0  _Grocery Store  0.24
1           _Café  0.18
2           _Park  0.12
3     _Restaurant  0.06
4    _Candy Store  0.06


----Church and Wellesley----
               venue  freq
0       _Coffee Shop  0.06
1        _Restaurant  0.06
2  _Sushi Restaurant  0.06
3       _Men's Store  0.04
4         _Gastropub  0.04


----Commerce Court, Victoria Hotel----
                 venue  freq
0                _Café  0.10
1               _Hotel  0.08
2         _Coffee Shop  0.08
3                 _Gym  0.06
4  _Seafood Restaurant  0.04


----Davisville----
             venue  freq
0  _Sandwich Place  0.08
1    _Dessert Shop  0.08
2             _Gym  0.06
3     _Pizza Place  0.06
4     _Coffee Shop  0.06


----Davisville North----
                   venue  freq
0                   _Gym  0.12
1  _Gym / Fitness Center  0.12
2        _Breakfast Spot  0.12
3                  _Park  0.12
4      _Department Store  0.12


----Dufferin, Dovercourt Village----
                        venue  freq
0                     _Bakery  0.13
1                   _Pharmacy  0.13
2                       _Pool  0.07
3  _Middle Eastern Restaurant  0.07
4                _Music Venue  0.07


----First Canadian Place, Underground city----
                  venue  freq
0                 _Café  0.12
1          _Coffee Shop  0.10
2           _Restaurant  0.06
3         _Concert Hall  0.04
4  _Japanese Restaurant  0.04


----Forest Hill North & West, Forest Hill Road Park----
                 venue  freq
0  _Mexican Restaurant  0.25
1       _Jewelry Store  0.25
2               _Trail  0.25
3    _Sushi Restaurant  0.25
4             _Airport  0.00


----Garden District, Ryerson----
                        venue  freq
0                       _Café  0.06
1                    _Theater  0.04
2                 _Restaurant  0.04
3  _Middle Eastern Restaurant  0.04
4             _Clothing Store  0.04


----Harbourfront East, Union Station, Toronto Islands----
          venue  freq
0  _Coffee Shop  0.08
1     _Aquarium  0.06
2         _Park  0.04
3        _Hotel  0.04
4         _Café  0.04


----High Park, The Junction South----
                 venue  freq
0                _Café  0.09
1  _Mexican Restaurant  0.09
2     _Thai Restaurant  0.09
3              _Bakery  0.05
4           _Gastropub  0.05


----India Bazaar, The Beaches West----
                   venue  freq
0                  _Park  0.10
1  _Fast Food Restaurant  0.10
2            _Steakhouse  0.05
3        _Ice Cream Shop  0.05
4          _Liquor Store  0.05


----Kensington Market, Chinatown, Grange Park----
                 venue  freq
0                _Café  0.10
1  _Mexican Restaurant  0.06
2              _Bakery  0.06
3         _Gaming Cafe  0.04
4         _Coffee Shop  0.04


----Lawrence Park----
          venue  freq
0         _Park  0.33
1     _Bus Line  0.33
2  _Swim School  0.33
3      _Airport  0.00
4       _Museum  0.00


----Little Portugal, Trinity----
               venue  freq
0               _Bar  0.09
1        _Restaurant  0.07
2       _Coffee Shop  0.07
3  _Asian Restaurant  0.07
4              _Café  0.04


----Moore Park, Summerhill East----
          venue  freq
0   _Playground  0.25
1         _Park  0.25
2  _Summer Camp  0.25
3   _Restaurant  0.25
4      _Airport  0.00


----North Toronto West, Lawrence Park----
                 venue  freq
0         _Coffee Shop  0.11
1      _Clothing Store  0.11
2         _Yoga Studio  0.05
3  _Mexican Restaurant  0.05
4                 _Spa  0.05


----Parkdale, Roncesvalles----
                          venue  freq
0               _Breakfast Spot  0.14
1                    _Gift Shop  0.14
2                  _Coffee Shop  0.07
3                _Movie Theater  0.07
4  _Eastern European Restaurant  0.07


----Queen's Park, Ontario Provincial Government----
                 venue  freq
0         _Coffee Shop  0.26
1         _Yoga Studio  0.03
2             _Theater  0.03
3  _Mexican Restaurant  0.03
4       _Burrito Place  0.03


----Regent Park, Harbourfront----
          venue  freq
0  _Coffee Shop  0.15
1          _Pub  0.06
2       _Bakery  0.06
3         _Park  0.06
4         _Café  0.04


----Richmond, Adelaide, King----
                  venue  freq
0          _Coffee Shop  0.10
1                 _Café  0.06
2         _Concert Hall  0.04
3  _American Restaurant  0.04
4           _Restaurant  0.04


----Rosedale----
         venue  freq
0        _Park  0.50
1  _Playground  0.25
2       _Trail  0.25
3     _Airport  0.00
4      _Museum  0.00


----Roselawn----
                venue  freq
0               _Pool   0.5
1             _Garden   0.5
2            _Airport   0.0
3        _Music Venue   0.0
4  _Martial Arts Dojo   0.0


----Runnymede, Swansea----
               venue  freq
0       _Pizza Place  0.10
1              _Café  0.08
2       _Coffee Shop  0.08
3  _Sushi Restaurant  0.05
4               _Pub  0.05


----St. James Town----
                  venue  freq
0                 _Café  0.10
1          _Coffee Shop  0.06
2            _Gastropub  0.06
3  _American Restaurant  0.04
4         _Cocktail Bar  0.04


----St. James Town, Cabbagetown----
                 venue  freq
0         _Coffee Shop  0.07
1  _Italian Restaurant  0.05
2  _Chinese Restaurant  0.05
3         _Pizza Place  0.05
4                _Park  0.05


----Stn A PO Boxes----
                 venue  freq
0         _Coffee Shop  0.06
1                _Café  0.06
2            _Beer Bar  0.04
3  _Seafood Restaurant  0.04
4         _Cheese Shop  0.04


----Studio District----
                  venue  freq
0                 _Café  0.10
1          _Coffee Shop  0.07
2               _Bakery  0.05
3            _Gastropub  0.05
4  _American Restaurant  0.05


----Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park----
                 venue  freq
0                 _Pub  0.12
1         _Coffee Shop  0.12
2  _Light Rail Station  0.06
3          _Bagel Shop  0.06
4          _Restaurant  0.06


----The Annex, North Midtown, Yorkville----
             venue  freq
0  _Sandwich Place  0.14
1            _Café  0.14
2     _Coffee Shop  0.09
3  _Cosmetics Shop  0.05
4    _Liquor Store  0.05


----The Beaches----
                venue  freq
0  _Health Food Store  0.25
1                _Pub  0.25
2              _Trail  0.25
3       _Neighborhood  0.25
4            _Airport  0.00


----The Danforth West, Riverdale----
                     venue  freq
0        _Greek Restaurant  0.21
1      _Italian Restaurant  0.07
2             _Coffee Shop  0.07
3              _Restaurant  0.05
4  _Furniture / Home Store  0.05


----Toronto Dominion Centre, Design Exchange----
                 venue  freq
0                _Café  0.12
1         _Coffee Shop  0.12
2  _Seafood Restaurant  0.06
3              _Bakery  0.04
4           _Gastropub  0.04


----University of Toronto, Harbord----
                  venue  freq
0                 _Café  0.15
1           _Restaurant  0.06
2  _Japanese Restaurant  0.06
3            _Bookstore  0.06
4                  _Bar  0.06

In [28]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = Toronto_grouped['Neighborhood']

for ind in np.arange(Toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Berczy Park,_Coffee Shop,_Cocktail Bar,_Restaurant,_Bakery,_Beer Bar
1,"Brockton, Parkdale Village, Exhibition Place",_Café,_Breakfast Spot,_Coffee Shop,_Nightclub,_Burrito Place
2,"Business reply mail Processing Centre, South C...",_Light Rail Station,_Skate Park,_Spa,_Butcher,_Fast Food Restaurant
3,"CN Tower, King and Spadina, Railway Lands, Har...",_Airport Service,_Airport Lounge,_Airport,_Harbor / Marina,_Plane
4,Central Bay Street,_Coffee Shop,_Italian Restaurant,_Sandwich Place,_Burger Joint,_Ice Cream Shop

In [48]:

# set number of clusters
kclusters = 5

Toronto_grouped_clustering = Toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(Toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [49]:
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

Toronto_merged = Toronto

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
Toronto_merged = Toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

Toronto_merged.head() # check the last columns!

ValueError: cannot insert Cluster Labels, already exists

In [ ]:
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="tor_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

In [ ]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(Toronto_merged['Latitude'], Toronto_merged['Longitude'], Toronto_merged['Neighborhood'], Toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [ ]:
####Cluster 1

In [ ]:
Toronto_merged.loc[Toronto_merged['Cluster Labels'] == 0, Toronto_merged.columns[[1] + list(range(5, Toronto_merged.shape[1]))]]

In [ ]:
####Cluster 2

In [ ]:
Toronto_merged.loc[Toronto_merged['Cluster Labels'] == 1, Toronto_merged.columns[[1] + list(range(5, Toronto_merged.shape[1]))]]

In [ ]:
####Cluster 3

In [ ]:
Toronto_merged.loc[Toronto_merged['Cluster Labels'] == 2, Toronto_merged.columns[[1] + list(range(5, Toronto_merged.shape[1]))]]

In [ ]:
####Cluster 4

In [ ]:
Toronto_merged.loc[Toronto_merged['Cluster Labels'] == 3, Toronto_merged.columns[[1] + list(range(5, Toronto_merged.shape[1]))]]

In [ ]:
####Cluster 5

In [ ]:
Toronto_merged.loc[Toronto_merged['Cluster Labels'] == 4, Toronto_merged.columns[[1] + list(range(5, Toronto_merged.shape[1]))]]

In [ ]:
####Cluster 6

In [ ]:
Toronto_merged.loc[Toronto_merged['Cluster Labels'] == 5, Toronto_merged.columns[[1] + list(range(5, Toronto_merged.shape[1]))]]